<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags-->
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Colorlib Templates" />
    <meta name="author" content="Colorlib" />
    <meta name="keywords" content="Colorlib Templates" />

    <!-- Title Page-->
    <title><%= title %></title>

    <!-- Icons font CSS-->
    <link
      href="/vendor/mdi-font/css/material-design-iconic-font.min.css"
      rel="stylesheet"
      media="all"
    />
    <link
      href="/vendor/font-awesome-4.7/css/font-awesome.min.css"
      rel="stylesheet"
      media="all"
    />
    <!-- Font special for pages-->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
      rel="stylesheet"
    />

    <!-- Vendor CSS-->
    <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="all" />
    <link
      href="/vendor/datepicker/daterangepicker.css"
      rel="stylesheet"
      media="all"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"
      integrity="sha512-DNeDhsl+FWnx5B1EQzsayHMyP6Xl/Mg+vcnFPXGNjUZrW28hQaa1+A4qL9M+AiOMmkAhKAWYHh1a+t6qxthzUw=="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.min.css"
      integrity="sha512-yye/u0ehQsrVrfSd6biT17t39Rg9kNc+vENcCXZuMz2a+LWFGvXUnYuWUW6pbfYj1jcBb/C39UZw2ciQvwDDvg=="
      crossorigin="anonymous"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"
      integrity="sha512-BNZ1x39RMH+UYylOW419beaGO0wqdSkO7pi1rYDYco9OL3uvXaC/GTqA5O4CVK2j4K9ZkoDNSSHVkEQKkgwdiw=="
      crossorigin="anonymous"
    ></script>
    <!-- Pluto Fonts Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">

    <!-- Main CSS-->
    <link href="/css/main.css" rel="stylesheet" media="all" />
    <script>
      navigator.geolocation.getCurrentPosition(success, error);
      function success(result) {
        console.log("latitude", result, result.coords);
      }
      function error(err) {
        console.log(err);
      }
    </script>
  </head>

  <body>
    <!-- <div class="page-wrapper bg-grey p-t-100 p-b-100 font-robo"> -->
    <div class="wrapper wrapper--w680">
      <div class="cards card-123">
        <div class="card-header"></div>
        <div class="card-bodies">
          <!-- <h2 class="title">Registration Info</h2> -->
          <div class="my-font" style=" background-color: #F0AB00; text-align: center; margin-bottom: 20px; margin-top: -45px">
            <em>Dear valued customer,</em><br />
            <em>Thank you for choosing Homesmiths.</em><br />
            <em>We'd love to know a bit more about your experience with us.</em>
          </div>

          <form method="POST">
            <div class="input-group">
              <input class="input--style-1" type="text" placeholder="NAME" name="name" required />
            </div>
            <div class="input-group">
              <input class="input--style-1" type="text" placeholder="PHONE" name="mobileNo" id="phone" required />
            </div>
            <div class="input-group">
              <input class="input--style-1" type="email" placeholder="EMAIL" name="email" required />
            </div>
            <div class="my-font">
              <p>1. How would describe your experience in our store?</p>
              <br />
              <div class="form-check-inline">
                <label for="experience0" class="radio">
                  <input type="radio" value="0" name="experience" id="experience0" class="radio__input" required />
                  <div class="radio__radio"></div>
                  0
                </label>
                <label for="experience1" class="radio">
                  <input type="radio" value="1" name="experience" id="experience1" class="radio__input" required />
                  <div class="radio__radio"></div>
                  1
                </label>
                <br />
                <label for="experience2" class="radio">
                  <input type="radio" value="2" name="experience" id="experience2" class="radio__input" required />
                  <div class="radio__radio"></div>
                  2
                </label>
                <br /><label for="experience3" class="radio">
                  <input type="radio" value="3" name="experience" id="experience3" class="radio__input" required />
                  <div class="radio__radio"></div>
                  3
                </label>
                <br /><label for="experience4" class="radio">
                  <input type="radio" value="4" name="experience" id="experience4" class="radio__input" required />
                  <div class="radio__radio"></div>
                  4
                </label>
                <br /><label for="experience5" class="radio">
                  <input type="radio" value="5" name="experience" id="experience5" class="radio__input" required />
                  <div class="radio__radio"></div>
                  5
                </label>
                <br />
              </div>
              <div class="form-check-inline">
                <p
                  style="
                    margin-left: 15px;
                    font-size: small;
                    color: rgb(168, 165, 177);
                  "
                >
                  Negative
                </p>
                <p
                  style="
                    margin-left: 255px;
                    font-size: small;
                    color: rgb(168, 165, 177);
                  "
                >
                  Positive
                </p>
              </div>
            </div>
            <br />
            <hr />
            <br />
            <div class="my-font">
              <p>
                2. How easy was it for you to locate the products you desired?
              </p>
              <br />
              <div class="form-check-inline">
                <br /><label for="easy0" class="radio">
                  <input type="radio" value="0" name="easy" id="easy0" class="radio__input" required
                  />
                  <div class="radio__radio"></div>
                  0
                </label>
                <br />
                <label for="easy1" class="radio">
                  <input type="radio" value="1" name="easy" id="easy1" class="radio__input" required />
                  <div class="radio__radio"></div>
                  1
                </label>
                <br /><label for="easy2" class="radio">
                  <input type="radio" value="2" name="easy" id="easy2" class="radio__input" required />
                  <div class="radio__radio"></div>
                  2
                </label>
                <br /><label for="easy3" class="radio">
                  <input type="radio" value="3" name="easy" id="easy3" class="radio__input" required />
                  <div class="radio__radio"></div>
                  3
                </label>
                <label for="easy4" class="radio">
                  <input type="radio" value="4" name="easy" id="easy4" class="radio__input" required />
                  <div class="radio__radio"></div>
                  4
                </label>
                <label for="easy5" class="radio">
                  <input type="radio" value="5" name="easy" id="easy5" class="radio__input" required />
                  <div class="radio__radio"></div>
                  5
                </label>
              </div>
              <div class="form-check-inline">
                <p style=" margin-left: 0px; font-size: small; color: rgb(168, 165, 177); ">Extremely Difficult </p>
                <p style=" margin-left: 188px; font-size: small; color: rgb(168, 165, 177);">Very Easy</p>
              </div>
              <br />
            </div>
            <br />
            <hr />
            <br />
            <div class="my-font">
              <p>3. How would you rate our staff on:</p>
              <br />
              <div style="margin-left: 10px"><p> Attitude:</p></div>

              <div class="form-check-inline">
                <br /><label for="attitude0" class="radio">
                  <input type="radio" value="0" name="attitude" id="attitude0" class="radio__input" required />
                  <div class="radio__radio"></div>
                  0
                </label>
                <br />
                <label for="attitude1" class="radio">
                  <input type="radio" value="1" name="attitude" id="attitude1" class="radio__input" required />
                  <div class="radio__radio"></div>
                  1
                </label>
                <br /><label for="attitude2" class="radio">
                  <input type="radio" value="Easy" name="attitude" id="attitude2" class="radio__input" required />
                  <div class="radio__radio"></div>
                  2
                </label>
                <br /><label for="attitude3" class="radio">
                  <input type="radio" value="3" name="attitude" id="attitude3" class="radio__input" required />
                  <div class="radio__radio"></div>
                  3
                </label>
                <label for="attitude4" class="radio">
                  <input type="radio" value="4" name="attitude" id="attitude4" class="radio__input" required />
                  <div class="radio__radio"></div>
                  4
                </label>
                <label for="attitude5" class="radio">
                  <input type="radio" value="5" name="attitude" id="attitude5" class="radio__input" required />
                  <div class="radio__radio"></div>
                  5
                </label>
                <br />
              </div>
              <div class="form-check-inline">
                <p style=" margin-left: 4px; font-size: small; color: rgb(168, 165, 177); ">Extremely Poor</p>
                <p style=" margin-left: 227px; font-size: small; color: rgb(168, 165, 177); ">Excellent</p>
              </div>
              <br /><br />

              <div style="margin-left: 10px"><p> Helpfulness:</p></div>
              <div class="form-check-inline">
                <br /><label for="helpfulness0" class="radio">
                  <input type="radio" value="0" name="helpfulness" id="helpfulness0" class="radio__input" required />
                  <div class="radio__radio"></div>
                  0
                </label>
                <br />
                <label for="helpfulness1" class="radio">
                  <input type="radio" value="1" name="helpfulness" id="helpfulness1" class="radio__input" required />
                  <div class="radio__radio"></div>
                  1
                </label>
                <br /><label for="helpfulness2" class="radio">
                  <input type="radio" value="Easy" name="helpfulness" id="helpfulness2" class="radio__input" required />
                  <div class="radio__radio"></div>
                  2
                </label>
                <br /><label for="helpfulness3" class="radio">
                  <input type="radio" value="3" name="helpfulness" id="helpfulness3" class="radio__input" required />
                  <div class="radio__radio"></div>
                  3
                </label>
                <label for="helpfulness4" class="radio">
                  <input type="radio" value="4" name="helpfulness" id="helpfulness4" class="radio__input" required />
                  <div class="radio__radio"></div>
                  4
                </label>
                <label for="helpfulness5" class="radio">
                  <input type="radio" value="5" name="helpfulness" id="helpfulness5" class="radio__input" required />
                  <div class="radio__radio"></div>
                  5
                </label>
                <br />
              </div>
              <div class="form-check-inline">
                <p
                  style="
                    margin-left: 4px;
                    font-size: small;
                    color: rgb(168, 165, 177);
                  "
                >
                  Extremely Poor
                </p>
                <p
                  style="
                    margin-left: 227px;
                    font-size: small;
                    color: rgb(168, 165, 177);
                  "
                >
                  Excellent
                </p>
              </div>
              <br /><br />

              <div style="margin-left: 10px">
                <p> Product Information:</p>
              </div>
              <div class="form-check-inline">
                <br /><label for="productInformation0" class="radio">
                  <input type="radio" value="0" name="productInformation" id="productInformation0" class="radio__input" required />
                  <div class="radio__radio"></div>
                  0
                </label>
                <br />
                <label for="productInformation1" class="radio">
                  <input type="radio" value="1" name="productInformation" id="productInformation1" class="radio__input" required />
                  <div class="radio__radio"></div>
                  1
                </label>
                <br /><label for="productInformation2" class="radio">
                  <input type="radio" value="Easy" name="productInformation" id="productInformation2" class="radio__input" required />
                  <div class="radio__radio"></div>
                  2
                </label>
                <br /><label for="productInformation3" class="radio">
                  <input type="radio" value="3" name="productInformation" id="productInformation3" class="radio__input" required />
                  <div class="radio__radio"></div>
                  3
                </label>
                <label for="productInformation4" class="radio">
                  <input type="radio" value="4" name="productInformation" id="productInformation4" class="radio__input" required />
                  <div class="radio__radio"></div>
                  4
                </label>
                <label for="productInformation5" class="radio">
                  <input type="radio" value="5" name="productInformation" id="productInformation5" class="radio__input" required />
                  <div class="radio__radio"></div>
                  5
                </label>
                <br />
              </div>
              <div class="form-check-inline">
                <p
                  style="
                    margin-left: 4px;
                    font-size: small;
                    color: rgb(168, 165, 177);
                  "
                >
                  Extremely Poor
                </p>
                <p
                  style="
                    margin-left: 227px;
                    font-size: small;
                    color: rgb(168, 165, 177);
                  "
                >
                  Excellent
                </p>
              </div>
              <br /><br />
            </div>
            <br />
            <hr />
            <br />

            <div class="my-font">
              <p>4. Any additional comments you would like to make?</p>
              <br />
              <textarea name="remarks" id="" cols="65" rows="3"></textarea>
            </div>
            <input type="hidden" name="phone_code" id="phone_code" />
            <input type="hidden" name="phone_number" id="phone_number" />

            <div class="p-t-20">
              <button class="btn btn--radius btn--green" type="submit">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- </div> -->
    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Jquery JS-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="/vendor/select2/select2.min.js"></script>
    <script src="/vendor/datepicker/moment.min.js"></script>
    <script src="/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="/js/global.js"></script>
    <script>
      var full_number = 0;
      var input = document.querySelector("#phone");
      var phone = input;
      var phone_code = window.intlTelInput(input, {
        preferredCountries: ["ae", "us", "in"],
        separateDialCode: true,
        utilsScript:
          "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
      });
      $("form").submit(function () {
        full_number = phone_code.getSelectedCountryData();
        $("input[name='phone_code']").val(full_number.dialCode);
        $("input[name='phone_number']").val(phone.value);
      });
    </script>
  </body>
  <!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
<!-- end document-->
